* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: green;
}

.wrapper {
  /*whole white box is wrapper*/
  background-color: #fff;
  width: 80vmin; /*  Use 1% of the smaller side of the screen (height or width)*/
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 20px;
  border-radius: 8px;
}
label {
  /*label: grid width and Height text*/
  display: block;
}
span {
  /*span : number 00 */
  position: relative;
  font-size: 22px;
  bottom: -1px;
}
.opt-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
button {
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

input[type="color"] {
  -webkit-appearance: none; /* 
r  کیونکہ color input کا default style ہوتا ہے، ہم اپنا custom style لگانا چاہتے...
 default jo google safari ki color ki style appearence h wo appearance remove krde ga*/

  -moz-appearance: none; /*uper google aur safari k liye ye firefox k liye*/
  appearance: none; /*ye css ki apni appearence property*/

  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  /*color palate k do border hote h andr wale box ko swatch kete h us ki styling k liye ye property h*/
  border-radius: 8px;
  border: 4px solid #000;
}

input[type="color"]::-moz-color-swatch {
  /*color palate k do border hote h andr wale box ko swatch kete h us ki styling k liye ye property h*/
  border-radius: 8px;
  border: 4px solid #000;
}

.gridCol {
  height: 1em;
  width: 1em;
  border: 1px solid #ddd;
}
.gridRow {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .gridCol {
    height: 0.8em;
    width: 0.8em;
  }
}
